@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,500&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body,
html { 
    cursor: url('images/cursor/cursor.png'),auto;
    background-color: #d5bdaf;
    overflow-x: hidden;
}

/* scrollbar  */
body::-webkit-scrollbar{
    width: 10px;
    background-color: transparent;
    scroll-behavior: smooth;
    scrollbar-gutter: stable both edges;
    border-radius: 20px;
}
body::-webkit-scrollbar-thumb:hover{
    background-color: #ffffff;
}
body::-webkit-scrollbar-thumb{
    background-color: #1e1e1e;
    width: 80%;
    border-radius: 20px;
}

/* loading animation */
#loader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #1e1e1e;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
}
#loader .loading{ 

    width: 50px;
    height: 50px;
    border-radius: 50%;
    outline: 5px solid #fff;
    background-color: #d5bdaf;
    animation: load 1s ease-in-out infinite forwards;
    transition: all 1s ease;


}
@keyframes load{
    0%{
        outline-offset:0 ;
        outline-width: 5px;
        
    }
    100%{
        outline-offset:50px ;
        outline-width: 0;
    }
}

/* main body  */
#main {
    scroll-snap-align: start
        ;
    width: 85%;
    height: 500vh;
    margin: 50px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 20px;


}

#profile {
    width: 50%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.profile-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    outline-offset: 2px;
    overflow: hidden;
    outline: 10px solid #ffffffac;
    ;
    box-shadow: 0 0 20px 20px #ffffffb7;
    transition: .6s outline-offset ease-in-out;


}

.profile-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    scale: 1.1;
    object-position: -10px 20%;
    filter: brightness(.85);
    transition: .4s all ease-in-out;

}

.profile-image:hover {
    outline-offset: 20px;
    box-shadow: 0 0 20px 10px rgba(255, 0, 0, 0.46);

    >img {
        rotate: -5deg;
        scale: 1.4;
        filter: brightness(1);

    }

}

.profile-details {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    text-align: center;
}

.profile-details h1 {
    font-size: 28px;
    font-weight: 800;

}

.profile-details h3 {
    font-style: italic;
    font-weight: 500;

}

.profile-details p {
    font-size: 14px;
    font-weight: 400;
}

.profile-socials {
    width: 60%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.profile-socials a {
    text-decoration: none;
    cursor: pointer;
    color: #fff;
    font-size: 36px;
    transition: all ease .5s;
}

.profile-socials a:hover {
    scale: 1.3;
    color: red;
    transform: rotate(-10deg);
}

/* projects   */


#projects {
    padding-top: 50px;
    width: 100%;
    height: 90%;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(20, 1fr);
    gap: 1rem;
    border-top: 2px solid #222222;

}

.item {
    width: 100%;
    height: 100%;
    border-radius: 12px;
    box-shadow: 0 0 5px #00000065;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-end;
    padding: 10px 20px;
    color: #000;
    
}

/* item hover  */
.item:hover {
    
    transition: .4s linear;
    >h1, p{
        margin-bottom: 10px;
        transition: .4s ease-in-out;
    }

}

.item h1 {
    font-size: 28px;
    font-weight: 700;
}

.item p {
    font-size: 14px;
    font-weight: 500;
    font-style: italic;
}



/* placing of grid items   */
/* add to cart  */
.item-1 {
    grid-area: 1 / 1 / 3 / 3;
    background-image: linear-gradient(to bottom, #ffffff00, #ffffff33, #00000073), url("images/projects/project1.jpg")
}

/* card open  */

.item-2 {
    grid-area: 1 / 3 / 3 / 5;
    background-image: linear-gradient(to bottom, #ffffff00, #ffffff33, #00000073), url("images/projects/project2.jpg")
}

/* menu icon  */

.item-3 {
    grid-area: 1 / 5 / 3 / 7;
    background-image: linear-gradient(to bottom, #ffffff00, #ffffff33, #00000073), url("images/projects/project3.jpg")
}

/* sticky images  */

.item-4{
    grid-area: 3 / 1 / 5 / 5;
    background-image: linear-gradient(to bottom, #ffffff00, #ffffff33, #00000073), url("images/projects/project4.jpg")
}

/* navigation bar  */
.item-5{
    grid-area: 3 / 5 / 7 / 7;
    background-image: linear-gradient(to bottom, #ffffff00, #ffffff33, #ffffff73), url("images/projects/project5.jpg")
    
}
/* image carousel  */
.item-6{
    grid-area: 5 / 1 / 7 / 3;
    background-image: linear-gradient(to bottom, #ffffff00, #ffffff33, #00000073), url("images/projects/project6.jpg")
    
}
/* save button  */
.item-7{
    grid-area: 5 / 3 / 7 / 5;
    background-image: linear-gradient(to bottom, #ffffff00, #ffffff33, #00000073), url("images/projects/project7.jpg");
}

/* Brand scroll  */
.item-8{
    grid-area: 7 / 1 / 9 / 4;
    background-image: linear-gradient(to bottom, #ffffff00, #ffffff33, #00000073), url("images/projects/project8.jpg");
}
.item-9{
    grid-area: 7 / 4 / 9 / 7;
    /* background-image: linear-gradient(to bottom, #ffffff00, #ffffff33, #00000073), url("images/projects/project8.jpg"); */
}


